body {
    position: relative;
}

.container .jumbotron {
    border-bottom: 1px solid #080808;
    border-radius: 0;
    margin-bottom: 0;
}

.container .jumbotron h1 {
    color: #269abc;
    margin-bottom: 20px;
    text-align: center;
}

#home {
    margin-top: 51px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 405px;
    margin: auto;
    width: 810px;
}

.back-to-top {
    text-align: right;
}

#store h4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#store .list-group-item a {
    display: block;
    text-align: center;
}

#contact {
    margin-bottom: 51px;
}

#contact .jumbotron {
    border-bottom: none;
}

#contact h3 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#opening-hours td {
    text-align: center;
    width: 33%;
}

#opening-hours .first {
    background-color: #269abc;
    font-weight: bold;
}

#opening-hours .last {
    background-color: #fff;
}

#map {
    height: 310px;
    margin-bottom: 25px;
    width: 100%;
}

#contact form .control-label {
    text-align: left;
}

#message {
    resize: none;
}

@media screen and (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 991px) {
    #map {
        height: 270px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-fixed-top .navbar-header {
        display: none;
    }
    
    #contact form {
        text-align: center;
    }
    
    #map {
        height: 230px;
    }
    
    .navbar-fixed-bottom ul {
        margin-bottom: 0;
        margin-top: 0;
        text-align: right;
    }
    
    .navbar-fixed-bottom ul li:first-child {
        margin-top: 4px;
    }
    
    .navbar-fixed-bottom ul li a {
        padding-bottom: 0;
        padding-top: 0;
    }
}