body {
    position: relative;
}

.container .jumbotron {
    border-bottom: 1px solid #000;
    border-radius: 0;
    margin-bottom: 0;
}

.container .jumbotron h1 {
    color: #269abc;
    margin-bottom: 20px;
}

#home {
    /*margin-top: 51px;*/
}

#about p, #store p, #contact p {
    text-align: left;
}

#store h4 {
    text-transform: uppercase;
}

#store a {
    display: block;
}

#contact {
    margin-bottom: 51px;
}

#contact .jumbotron {
    border-bottom: none;
}

#map {
    height: 310px;
    margin-bottom: 25px;
    width: 100%;
}

#message {
    resize: none;
}

@media screen and (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-fixed-bottom ul {
        margin-bottom: 0;
        margin-top: 0;
        text-align: right;
    }
    
    .navbar-fixed-bottom ul li:first-child {
        margin-top: 5px;
    }
    
    .navbar-fixed-bottom ul li a {
        padding-bottom: 0;
        padding-top: 0;
    }
}